.dropdownprix{
    background-color: rgb(126, 209, 43);
   height: 380px;
   border-radius: 30px;
}
.btn{
    margin-left: 120px;
    margin-top: 50px;
}

.autres{
    height: 250px;
    background-color: rgb(91, 146, 35);
    border-radius: 30px;
}
.rectangle {
    height: 5px;
    background-color: white;
  }
  .rectangle2 {
    height: 5px;
    background-color: white;
    margin-top: 240px;
  }

  .rectangle3 {
    height: 2.5px;
    background-color: rgb(255, 255, 255);
    margin-top: -65px;
  }

  .rectangle4 {
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
  }
  .rectangle5 {
    height: 2.5px;
    background-color: rgb(255, 255, 255);
    margin-top: -110px;
  }

  #text{
      margin-left: 140px;
  }
  #text1{
    margin-left: 140px;
    margin-top: -200px;
}

#text2{
  margin-left: 100px;
  margin-top: 60px;
}

#text3{
  margin-left: 150px;
  margin-top: 20px;
}

.rectangle6 {
  height: 5px;
  background-color: white;
  margin-top: 130px;
}

.btn-bgP{
  /* margin-top: 60px; */
}
.rectangle7{
  height: 300px;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 150px;
   border-radius: 30px;
   margin-left: 20px;
}

.rectangle8{
  height: 0.5px;
  background-color: black;
}

.rectangle9{
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 260px;
   border-radius: 30px;
   margin-left: 900px;
   margin-top: -250px;
}
.arac{
  width: 800px;
  height: 380px;
  margin-top: -20px;
}
.rectangle10{
  background-color: rgb(255, 255, 255);
  height: 500px;
   border-radius: 30px;
}

.rectangle11{
  height: 0.5px;
  background-color: black;
  margin-top: 50px;
}
.title{
  margin-left: 40%;
  margin-top: 25px;
}
.square1{
  width:  20px;
  background-color: rgb(54, 148, 54);
  height: 20px;
  margin-top: -340px;
  margin-left: 30px;
}
.title1{
  margin-left: 50px;
  margin-top: -345px;
}
.anab{
  margin-left: 50px;
  margin-top: -315px;
}

 .square2{
  width:  20px;
  background-color: rgb(54, 148, 54);
  height: 20px;
  margin-top: -270px;
  margin-left: 30px;
}

.title2{
  margin-left: 50px;
  margin-top: -275px;
}

.unapemab{
  margin-left: 50px;
  margin-top: -240px;
}
.title3{
  margin-left: 40%;
  margin-top: -185px;
}
.rectangle12{
  height: 0.5px;
  background-color: black;
  margin-top: -190px;
}

.rectangle13{
  height: 0.5px;
  background-color: black;
  margin-top: -100px;
}

.square3{
  width:  20px;
  background-color: rgb(54, 148, 54);
  height: 20px;
  margin-top: -50px;
  margin-left: 30px;
}

.title4{
  margin-left: 50px;
  margin-top: -55px;
}

.nad{
  margin-left: 50px;
  margin-top: -25px;
}













